/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #c2c2ce;
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1002;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1001;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* Other */
#toast-container>div {
    opacity: 0.9;
}

.separator {
    width: 10px;
    height: 10px;
    margin: 20px auto;
    background: #fff;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.separator:before {
    position: absolute;
    right: 5%;
    bottom: 4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content: "";
    display: inline-block;
    margin-right: 20px;
}

.separator:after {
    position: absolute;
    left: 5%;
    bottom: 4px;
    height: 1px;
    width: 80px;
    background: #eee;
    content: "";
    display: inline-block;
    margin-left: 20px;
}

.overlay {
    background-color: rgba(69, 90, 100, 0.95);
    width: 100%;
    height: 100%;
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.05);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.btn-grad {
    background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%)
}

.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.img {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.85;
}

.link,
.link:hover {
    font-weight: 500;
}

.social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;

    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
}

.social-icon.link-danger {
    border: 1px solid rgba(255, 0, 0, 0.5);
}

.social-icon.link-primary {
    border: 1px solid rgba(0, 0, 225, 0.5);
}

.heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

.sub-heading {
    margin-bottom: 0;
}

.login-card,
.signup-card {
    margin: 0 auto;
}

.login-card {
    max-width: 400px;
}

.signup-card {
    max-width: 600px;
}

/* BOOTSTRAP CUSTOM */
.dropdown-menu-macos {
    gap: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.dropdown-menu-macos .dropdown-item {
    border-radius: 0.25rem;
}

.page-link {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-group>.label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 1px solid #ccc;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: rgba(0, 0, 0, 0);
    isolation: isolate;
}

.nav-tabs .nav-link.active {
    background-color: rgba(0, 0, 0, 0);
    border-color: #ccc;
}

.tab-content>.tab-pane {
    padding: 1.5rem;
    padding-bottom: 0;
}

/* NAVBAR */
.navbar,
footer {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.navbar .nav-link {
    font-weight: 500;
}

.navbar .dropdown-divider {
    height: 2px !important;
}

/* MAIN */
main {
    flex-grow: 1;
}

#feedback-form {
    max-width: 650px;
    margin: 0 auto;
}

#profile {
    font-weight: 500;
}

#profile .fa-solid {
    width: 80px;
    font-size: 50px;
}

#profile span {
    font-style: oblique;
    color: #CA5010;
}

#welcome {
    background-image: url('../img/welcome.gif');
    background-size: 100% 100%;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
}

#welcome .btn-group {
    min-width: 300px;
}

#welcome .btn:hover {
    color : #000 !important;
}

#welcome .title {
    font-weight: bolder;
    font-size: 5rem;
    
}

.subject-item .card {
    background-color: rgba(255, 255, 255, 0.5);
}

.pagination {
    width: 300px;
}

.pagination .page-item {
    width: calc(100% / 4);
}

.list-question .list-group-item {
    height: 100%;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

/* ASIDE */
.conllapse-subjects .list-group-item {
    background-color: rgba(0, 0, 0, 0);
}

/* FOOTER */
footer .icon {
    font-size: 20px;
}

footer .content {
    font-weight: 500;
}