<div class="container-lg container-md-fluid p-3 p-md-5 h-100">
    <div class="row bg-light bg-opacity-50 rounded m-0 p-3 p-lg-4 h-100">
        <div class="col-sm-6 ps-0">
            <h2 class="heading">Liên hệ</h2>
            <div class="content">
                <h6 class="sub-heading py-2">Campus Hà Nội</h6>
                <ul>
                    <li style="text-align: justify;">Điện thoại: (024) 8582 0808</li>
                    <li style="text-align: justify;">Địa chỉ: Tòa nhà FPT Polytechnic, đường Trịnh Văn Bô, Phương Canh,
                        Nam Từ Liêm, Hà Nội.</li>
                    <li style="text-align: justify;">Email: caodangfpt.hn@fpt.edu.vn</li>
                </ul>
                <h6 class="sub-heading py-2">Campus Hồ Chí Minh</h6>
                <ul>
                    <li style="text-align: justify;">Điện thoại: (028) 6252 3434</li>
                    <li style="text-align: justify;">Địa chỉ: Lầu 2. Tòa nhà Innovation, lô 24, CVPM mềm Quang Trung,
                        P.Tân
                        Chánh Hiệp, Quận 12, TP. Hồ Chí Minh.</li>
                    <li style="text-align: justify;">Email: caodangfpt.hcm@fpt.edu.vn</li>
                </ul>
                <h6 class="sub-heading py-2">Campus Đà Nẵng</h6>
                <ul class="m-0">
                    <li style="text-align: justify;">Điện thoại: (0236) 3710 999</li>
                    <li style="text-align: justify;">137 Nguyễn Thị Thập, Phường Hòa Minh, Quận Liên Chiểu, TP. Đà Nẵng.
                    </li>
                    <li style="text-align: justify;">Email: caodangfpt.dn@fpt.edu.vn</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 pe-0">
            <div class="ratio h-100 shadow">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1589.0893173187212!2d106.6297087463466!3d10.853252452186185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529b6a2b351a5%3A0x11690ada8c36f9bc!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIFRo4buxYyBow6BuaCBGUFQgUG9seXRlY2huaWMgVFAuSENNIChDUzMp!5e0!3m2!1svi!2s!4v1635836221837!5m2!1svi!2s"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>