
<div class="container-lg container-md-fluid p-3 p-md-4 h-100">
    <form id="feedback-form" class="p-3 p-lg-4 bg-light bg-opacity-50 rounded border clearfix">
        <h2 class="heading">Góp ý</h2>
        <div class="mb-3">
            <label for="title-feedback" class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="title-feedback">
        </div>
        <div class="mb-3">
            <label for="email-feedback" class="form-label">Email</label>
            <input type="text" class="form-control" id="email-feedback">
        </div>
        <div class="mb-3">
            <label for="content-feedback" class="form-label">Nội dung góp ý</label>
            <textarea class="form-control" id="content-feedback" rows="9"></textarea>
        </div>
        <button type="submit" class="btn btn-warning w-100 ">Gửi</button>
    </form>
</div>
