<div class="container h-100 d-flex justify-content-center align-items-center">
    <form id="feedback-form" class="p-3 bg-light bg-opacity-75 rounded border clearfix">
        <h2 class="heading">Góp ý</h2>
        <div class="mb-3">
            <label for="title-feedback" class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="title-feedback">
        </div>
        <div class="mb-3">
            <label for="content-feedback" class="form-label">Nội dung góp ý</label>
            <textarea class="form-control" id="content-feedback" rows="12"></textarea>
        </div>
        <button type="submit" class="btn btn-warning w-100 ">Gửi</button>
    </form>
</div>