<div class="container introduce">
    <h2 class="heading">Giới thiệu chung</h2>
    <div class="content clearfix">
        <h6 class="sub-heading py-2">Online Training là gì?</h6>
        <p>
            Online Training là hệ quản lý học tập tiên tiến nhằm nâng cao hiệu quả học
            tập, tương tác,trao đổi tài nguyên cũng như thông tin giữa giảng viên – người hướng dẫn và sinh viên, đồng
            thời tạo môi trường học tập hiện đại, hiệu quả khi quản lý việc học và quá trình học tập của sinh viên.
        </p>
    </div>
    <div class="content clearfix">
        <h6 class="sub-heading py-2">Vai trò của Online Training</h6>
        <p>
            Hệ thống Online Training là ứng dụng được dùng để lưu trữ và quản trị nội dung bài học online. Hệ thống sẽ
            theo dõi và cập nhật các hoạt động học tập của học viên.
        </p>
    </div>
</div>