<div class="container p-3 p-md-5">
    <h2 class="heading">Giới thiệu chung</h2>
    <div class="content clearfix">
        <h6 class="sub-heading py-2">Online Training là gì?</h6>
        <p>
            Online Training là hệ thống tổ chức thi trắc nghiệm trực tuyến, thực hiện việc tạo đề thi và chấm điểm với
            nhiều môn học khác nhau.
        </p>
    </div>
    <div class="content clearfix">
        <h6 class="sub-heading py-2">Một số tính năng nổi bật của Online Training</h6>
        <ul>
            <li>
                Tự động tạo đề thi, phân phối các câu hỏi trong một đề thi.
            </li>
            <li>
                Tự động cập nhật điểm số của học viên mỗi lần thi, thống kê điểm số, xếp loại học viên.
            </li>
            <li>
                Tự động tính thời gian bắt đầu và kết thúc, thời gian toàn bộ bài thi.
            </li>
            <li>
                Giao diện hệ thống được thiết kế đơn giản và tiện lợi, thí sinh dễ dàng đọc rõ câu hỏi và thao tác lựa
                chọn đáp án nhanh chóng.
            </li>
            <li>
                Tự động hiển thị số lượng các câu hỏi mà thí sinh đã chọn đáp án, và nhấn mạnh các câu mà thí sinh chưa
                điền, nhắc nhở thí sinh khi gần hết thời gian
            </li>
            <li>
                Hệ thống chấm điểm tự động, có kết quả ngay sau khi hoàn thành bài.
            </li>
            <li>
                Tự động cập nhật lên hệ thống thông tin của học viên, gửi thông báo về kết quả làm bài của học viên.
            </li>
        </ul>
    </div>

</div>