<div class="container-fluid d-flex align-items-center h-100">
    <div class="subjects-list w-100 p-4">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 mb-4">
            <div class="subject-item col zoom" ng-click="openQuiz(s.Id, s.Name)"
                ng-repeat="s in subjects|orderBy:'Name'|filter:keyword:false|limitTo:pageSize:start">
                <div class="card h-100 border-0 position-relative shadow p-3 m-0">
                    <div class="row g-0 h-100">
                        <div class="col-4 col-md-5 d-flex justify-content-center align-items-center">
                            <img src="asset/img/logos/{{s.Logo}}" class="img-subject img-fluid rounded-start">
                        </div>
                        <div class="col-8 col-md-7">
                            <div class="card-body">
                                <h6 class="card-title fw-bold">{{s.Name|uppercase}}</h6>
                                <div class="card-body p-0">
                                    <span class="badge bg-info rounded-pill">Tổng số câu hỏi: {{s.NumberOfQuestions}} câu</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination text-center my-0 mx-auto">
                <li class="page-item" ng-click="firstSubject()"><a class="page-link" href="javascript:void(0)">
                        <i class="fa-solid fa-backward-step"></i>
                    </a></li>
                <li class="page-item" ng-click="prevSubject()"><a class="page-link" href="javascript:void(0)">
                        <i class="fa-solid fa-angles-left"></i>
                    </a></li>
                <li class="page-item" ng-click="nextSubject()"><a class="page-link" href="javascript:void(0)">
                        <i class="fa-solid fa-angles-right"></i>
                    </a></li>
                <li class="page-item" ng-click="lastSubject()"><a class="page-link" href="javascript:void(0)">
                        <i class="fa-solid fa-forward-step"></i>
                    </a></li>
            </ul>
        </nav>
    </div>
</div>