<!-- Modal -->
<div class="modal fade" id="forgotPassModal" tabindex="-1" aria-labelledby="forgotPassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title" id="forgotPassModalLabel">Quên mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <form id="forgot-pass-form" name="forgotPassForm" class="p-3" ng-submit="forgotPassForm.$valid && forgotPassword(emailResetPass)"  novalidate>
                    <div class="row">
                        <label for="emailResetPass" class="col-sm-3 col-form-label">Địa chỉ Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="emailResetPass" name="emailResetPass"
                                ng-model="emailResetPass" placeholder="Email" required>
                            <div ng-show="forgotPassForm.$submitted || forgotPassForm.emailResetPass.$touched">
                                <span class="badge bg-danger fst-italic"
                                    ng-show="forgotPassForm.emailResetPass.$error.email">
                                    Địa chỉ email không hợp lệ!
                                </span>
                                <span class="badge bg-danger fst-italic"
                                    ng-show="forgotPassForm.emailResetPass.$error.required">
                                    Vui lòng nhập địa chỉ email!
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="submit" form="forgot-pass-form" class="btn btn-primary">Gửi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changePassModal" tabindex="-1" aria-labelledby="changePassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title" id="changePassModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <form id="change-pass-form" name="changePassForm" class="p-3" novalidate>
                        <div class="form-group mb-3" ng-show="currentUser.password">
                            <label for="currentPass" class="form-label">Mật khẩu hiện tại</label>
                            <input type="password" class="form-control" id="currentPass" ng-model="currentPass"
                                name="currentPass" placeholder="Current Password" required>
                            <div ng-show="changePassForm.$submitted || changePassForm.currentPass.$touched">
                                <span class="badge bg-danger fst-italic"
                                    ng-show="changePassForm.currentPass.$error.required">
                                    Vui lòng nhập mật khẩu hiện tại!
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="newPass" class="form-label">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="newPass" ng-model="newPass" name="newPass"
                                placeholder="New Password" required>
                            <div ng-show="changePassForm.$submitted || changePassForm.newPass.$touched">
                                <span class="badge bg-danger fst-italic"
                                    ng-show="changePassForm.newPass.$error.required">
                                    Vui lòng nhập mật khẩu mới!
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPass" class="form-label">Xác nhận mật khẩu mới</label>
                            <input type="password" class="form-control" id="confirmPass" ng-model="confirmPass"
                                name="confirmPass" placeholder="Confirm New Password" compare-to="newPass" required>
                            <div ng-show="changePassForm.$submitted || changePassForm.confirmPass.$touched">
                                <span class="badge bg-danger fst-italic"
                                    ng-show="changePassForm.confirmPass.$error.compareTo">
                                    Mật khẩu xác thực không đúng!
                                </span>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="button" form="change-pass-form" class="btn btn-primary">Đổi mật khẩu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title" id="editProfileModalLabel">Thông tin tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <form id="edit-profile-form" name="editProfileForm" ng-click="editProfileForm.$valid && editProfile()" class="p-3" novalidate>
                    <div class="row mb-3">
                        <div class="form-group col">
                            <label class="label" for="userInfo">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="userInfo" name="userInfo" ng-model="userInfo"
                                placeholder="Username" ng-value="currentUser.username" disabled required>
                            <div ng-show="editProfileForm.$submitted || editProfileForm.userInfo.$touched">
                                <span class="badge bg-danger fst-italic" ng-show="editProfileForm.userInfo.$error.required">
                                    Vui lòng nhập tên người dùng!
                                </span>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="emailInfo" class="form-label">Địa chỉ Email</label>
                            <input type="email" class="form-control" id="emailInfo" name="emailInfo"
                                ng-model="emailInfo" placeholder="Email" ng-value="currentUser.email" required>
                            <div ng-show="editProfileForm.$submitted || editProfileForm.emailInfo.$touched">
                                <span class="badge bg-danger fst-italic"
                                    ng-show="editProfileForm.emailInfo.$error.email">
                                    Địa chỉ email không hợp lệ!
                                </span>
                                <span class="badge bg-danger fst-italic"
                                    ng-show="editProfileForm.emailInfo.$error.required">
                                    Vui lòng nhập địa chỉ email!
                                </span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-6">
                            <label for="fullnameInfo" class="form-label">Họ và tên</label>
                            <input type="email" class="form-control" id="fullnameInfo" name="fullnameInfo"
                                ng-model="fullnameInfo" placeholder="Fullname" ng-value="currentUser.fullname" required>
                            <div ng-show="editProfileForm.$submitted || editProfileForm.fullnameInfo.$touched">
                                <span class="badge bg-danger fst-italic"
                                    ng-show="editProfileForm.fullnameInfo.$error.required">
                                    Vui lòng nhập họ tên!
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="birthdayInfo" class="form-label">Ngày sinh</label>
                            <input type="text" datetime="dd/MM/yyyy" class="form-control" id="birthdayInfo" name="birthdayInfo"
                            ng-model="birthdayInfo" ng-value="currentUser.birthday" required>
                            <div ng-show="editProfileForm.$submitted || editProfileForm.birthdayInfo.$touched">
                                <span class="badge bg-danger fst-italic"
                                    ng-show="editProfileForm.birthdayInfo.$error.required">
                                    Vui lòng nhập họ tên!
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label me-3">Giới tính</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-checked="currentUser.gender" type="radio" name="gender" id="male" value="1">
                            <label class="form-check-label" for="male">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" ng-checked="!currentUser.gender" type="radio" name="gender" id="female" value="0">
                            <label class="form-check-label" for="female">Nữ</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="submit" form="edit-profile-form" class="btn btn-primary">Cập nhật tài khoản</button>
            </div>
        </div>
    </div>
</div>