<div class="container p-3 p-md-5">
    <div class="bg-light bg-opacity-75 rounded p-3">
        <h2 class="heading">Hỏi đáp</h2>
        <div class="content">
            <h6 class="sub-heading py-2">Thi trắc nghiệm trực tuyến là gì?</h6>
            <p>
                Thi trực tuyến là hình thức làm bài kiểm tra trên hệ thống online qua các công cụ điện tử như máy tính,
                tablet, điện thoại có kết nối internet. Các thí sinh, học viên tham gia thi trực tuyến sẽ phải truy cập
                trực tiếp vào website trực tuyến hoặc các ứng dụng thiết bị điện tử khác. Điểm nổi bật của hình thức này
                là các thí sinh có thể tham gia thi online ở bất cứ đâu, địa điểm nào mà không cần phải đến địa điểm thi
                cụ thể.
            </p>
        </div>
        <div class="content">
            <h6 class="sub-heading py-2">Hệ thống thi trắc nghiệm trực tuyến có những ưu điểm gì?</h6>
            <ul>
                <li>
                    Giúp tiết kiệm thời gian tìm kiếm câu hỏi vì hệ thống đã lưu trữ kho
                    câu hỏi đã được soạn và đăng tải trước đó, không mất nhiều thời gian soạn đề thi, in ấn giấy thi, tổ
                    chức
                    không gian thi bên ngoài. Hệ thống tự động lấy ngẫu nhiên câu hỏi để tạo đề thi.
                </li>
                <li>
                    Giảm tải tối đa thời gian thực hiện công tác chấm điểm, đánh giá và xếp loại học viên. Đồng thời
                    việc
                    chấm điểm sẽ diễn ra nhanh hơn, chính xác hơn, do hệ thống đã được thiết lặp sẵn các đáp án đúng,
                    kết
                    quả có thể được trả về ngay sau khi hoàn thành bài thi.
                </li>
                <li>
                    Không cần thuê nhiều nhân sự, cán bộ tham gia chấm thi, gác thi vì phần mềm sẽ tự động tính giờ làm
                    bài.
                </li>
                <li>
                    Hạn chế các trường hợp gian lận trong thi cử khi các câu hỏi và đáp án sẽ được xáo trộn ngẫu nhiên
                    trên
                    đề thi của từng người.
                </li>
                <li>
                    Tiết kiệm tối đa thời gian cho học viên vì không phải đi đến tận phòng thi, tận trường để thi
                </li>
                <li>
                    Thời gian đọc đề, hiểu đề và làm bài sẽ nhanh hơn do thao tác trên máy tính
                </li>
                <li>
                    Có thể tham gia thi ở bất cứ đâu, chỉ cần thiết bị có kết nối Internet.
                </li>
                <li>
                    Nhiều người có thể tham gia thi cùng 1 lúc, không giới hạn số lượng người tham gia thi
                </li>
                <li>
                    So với thi trên giấy thì thi trắc nghiệm trực tuyến sẽ giúp thí sinh chọn đáp án nhanh hơn, không
                    phải
                    tô đen ô trống, không phải dùng tẩy để bôi, mọi hành động sẽ nhanh và đơn giản hoá chỉ bằng một cú
                    click
                    chuột
                </li>
                <li>
                    Mỗi bài thi sẽ có thời gian hiển thị rõ ràng, học viên dễ theo dõi sắp xếp thời gian làm bài hiệu
                    quả.
                </li>
            </ul>
        </div>
    </div>
</div>