<div class="container p-md-4 p-3 h-100 d-flex justify-content-center align-items-center">
    <div class="card bg-light bg-opacity-75" style="width: 1200px;">
        <div class="row g-0">
            <div class="col-md-6 p-md-4 p-0">
                <div class="card-body">
                    <form id="signup-form" name="signUpForm">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-3 border-bottom pb-2">Đăng ký</h3>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="userSignUp">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="userSignUp" name="userSignUp"
                                ng-model="userSignUp" placeholder="Username" required>
                            <span class="badge bg-danger fst-italic" ng-hide="signUpForm.userSignUp.$valid">
                                Vui lòng nhập tên người dùng
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="passSignUp">Mật khẩu</label>
                            <input type="password" id="passSignUp" class="form-control" placeholder="Password"
                                name="passSignUp" ng-model="passSignUp" required>
                            <span class="badge bg-danger fst-italic" ng-hide="signUpForm.passSignUp.$valid">
                                Vui lòng nhập mật khẩu
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="fullnameSignUp">Họ và tên</label>
                            <input type="text" id="fullname" class="form-control" placeholder="Fullname"
                                name="fullnameSignUp" ng-model="fullnameSignUp" required>
                            <span class="badge bg-danger fst-italic" ng-hide="signUpForm.fullnameSignUp.$valid">
                                Vui lòng nhập họ và tên
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="emailSignUp">Địa chỉ email</label>
                            <input type="email" id="emailSignUp" class="form-control" placeholder="Email"
                                name="emailSignUp" ng-model="emailSignUp" required>
                            <span class="badge bg-danger fst-italic" ng-hide="signUpForm.emailSignUp.$valid">
                                Vui lòng nhập địa chỉ email
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="birthdaySignUp">Ngày sinh</label>
                            <input type="text" id="birthdaySignUp" class="form-control" name="birthdaySignUp"
                                ng-model="birthdaySignUp" datetime="dd/MM/yyyy" required>
                            <span class="badge bg-danger fst-italic" ng-hide="signUpForm.birthdaySignUp.$valid">
                                Vui lòng nhập ngày sinh
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label me-3">Giới tính</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genderSignUp" ng-model="genderSignUp"
                                    ng-checked="genderSignup = 1" id="male" value="1">
                                <label class="form-check-label" for="male">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genderSignUp" ng-model="genderSignUp"
                                ng-checked="genderSignup = 0" id="female" value="0">
                                <label class="form-check-label" for="female">Nữ</label>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="form-control btn btn-warning rounded submit px-3">
                                Đăng ký
                            </button>
                        </div>
                        <p class="text-center m-0">Đã có tài khoản? <a class="text-decoration-none link-warning"
                                href="#!signin">Đăng nhập</a></p>
                    </form>
                </div>
            </div>
            <div class="col-md-6 bg-black">
                <img src="asset/img/signUp2.jpg" class="img rounded-start" style="width: 100%; max-height: 700px;">
            </div>
        </div>
    </div>
</div>