<div class="container p-md-4 p-3 h-100 d-flex justify-content-center align-items-center">
    <div class="card bg-light bg-opacity-75" style="width: 1200px;">
        <div class="row g-0">
            <div class="col-md-6 p-md-4 p-0">
                <div class="card-body">
                    <form id="login-form">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-3 border-bottom pb-2">Đăng ký</h3>
                            </div>
                            
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="fullname">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="fullname" placeholder="Username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="password">Mật khẩu</label>
                            <input type="password" id="password" class="form-control" placeholder="Password"
                                required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="fullname">Họ và tên</label>
                            <input type="text" id="fullname" class="form-control" placeholder="Fullname" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="email">Địa chỉ email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="label " for="birthday">Ngày sinh</label>
                            <input type="date" id="birthday" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label me-3">Giới tính</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="1">
                                <label class="form-check-label" for="male">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="0">
                                <label class="form-check-label" for="female">Nữ</label>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="form-control btn btn-warning rounded submit px-3">
                                Đăng ký
                            </button>
                        </div>
                        <p class="text-center m-0">Đã có tài khoản? <a class="text-decoration-none link-warning"
                                href="#!signin">Đăng nhập</a></p>
                    </form>
                </div>
            </div>
            <div class="col-md-6 bg-black">
                <img src="asset/img/signup2.jpg" class="img rounded-start" style="width: 100%; max-height: 700px;">
            </div>
        </div>
    </div>
</div>