<div id="welcome" class="contaienr-fluid p-0 h-100">
    <div class="overlay rounded p-3 p-lg-4 h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="title text-uppercase">
            Online Training
        </div>
        <p class="fs-5">Website thi trắc nghiệm trực tuyến</p>
        <p class="fs-5">
             Đăng nhập hoặc đăng ký để tham gia vào khoá học
        </p>
        <div class="separator"></div>
        <div class="btn-group mt-3">
            <a href="#!signin" class="btn btn-outline-light text-light w-50 fs-6">Đăng nhập</a>
            <a href="#!signup" class="btn btn-outline-light text-light w-50 fs-6">Đăng ký</a>
        </div>
    </div>
</div>