<div id="welcome" class="contaienr-fluid p-0 h-100">
    <div class="overlay rounded p-3 p-lg-4 h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="title text-uppercase animate__animated animate__fadeInDown">
            Online Training
        </div>
        <p class="fs-5 animate__animated animate__zoomInDown">Website thi trắc nghiệm trực tuyến</p>
        <p class="fs-5 animate__animated animate__zoomInDown">
             Đăng nhập hoặc đăng ký để tham gia vào khoá học
        </p>
        <div class="separator animate__animated animate__zoomIn"></div>
        <div class="btn-group mt-3">
            <a href="#!signin" class="btn btn-outline-light text-light w-50 fs-6 animate__animated animate__lightSpeedInLeft animate__delay-1s">
                Đăng nhập
            </a>
            <a href="#!signup" class="btn btn-outline-light text-light w-50 fs-6 animate__animated animate__lightSpeedInRight animate__delay-1s">
                Đăng ký
            </a>
        </div>
    </div>
</div>